* {
    box-sizing: border-box;
}

#wrapper {
    position: relative;
    height: 100%;
    justify-content: center;
}

#parent {
    min-width: 200px;
    margin: 0px 75px 0px 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#welcome {
    min-height: 25%;
    display: flex;
    justify-content: center;
}

#header {
    margin-top:auto;
    vertical-align: bottom;
    font-size: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

#addCanvas {
    /* height: 10%; */
    display: flex;
    justify-content: center;
    margin: 25px 25px 25px 25px;
}

#button {
    width: 288px;
    height: 187px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    vertical-align: middle;
}

#button:hover {
	color: #FFFFFF;
	background-color: #555555;
}

img.card-img-top {
  width: 288px;
  height: 162px;
}

.dashboard-card:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}
