* {
    box-sizing: border-box;
}

#wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#parent {
    min-width: 400px;
    margin: 0px 75px 0px 75px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#welcome {
    min-width: 400px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

#hello {
    display: inline-block;
    height: 60px;
    width: auto;
    background-color: #4C94CD;
    color: white;
    padding: 13px 25px 13px 25px;
    border-radius: 0 0 20px 0;
    box-shadow: 0 0 10px #555555;
}

#hello-name {
    font-size: 25px;
}

#header {
    margin-top:auto;
    vertical-align: bottom;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

#addCanvas {
    border: 0;
    flex-shrink: 0;
    width: 288px;
    height: 162px;
    margin: 50px 25px 50px 25px;
    border-radius: 8px;
    overflow: hidden;
    border-style: dashed;
    border-color: #4C94CD;
    border-width: 4px 4px 4px 4px;
    z-index: 2;
}

#button {
    display: flex;
    flex-direction: column;
    border: 0;
    width: 288px;
    height: 162px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    background-color: white;
}

#addCanvas:hover .plus {
    top: -42px;
    left: -5px;
    filter: drop-shadow(14px 12px 3px #71717180);
}
#addCanvas:hover .create {
    bottom: 87px;
    left: 54px;
    filter: drop-shadow(14px 12px 3px #71717180);
}
.plus {
    position: relative;
    font-weight: 200;
    top: -35px;
    left: 1px;
    font-size: 90px;
    margin: 0;
    vertical-align: top;
    color: #4C94CD;
    filter: drop-shadow(7px 6px 3px #71717180);
}

.create {
    position: relative;
    left: 60px;
    bottom: 80px;
    font-size: 28px;
    font-weight: 500;
    color: #4C94CD;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 7px 6px 5px #717171; */
    filter: drop-shadow(7px 6px 3px #71717180);
}

.dashboardImg {
    width: 288px;
    height: 162px;
    position: absolute;
    border: 0;
}

.dashboardCard {
    border: 0;
    flex-shrink: 0;
    width: 288px;
    height: 162px;
    margin: 50px 25px 50px 25px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 5px 5px 10px #555555;
}

.dashboardCard:hover {
    box-shadow: 10px 10px 10px #555555;
}

.dashboardCardFooter {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: white;
    height: 74px;
    padding: 0;
    font-size: 18px;
    margin-top: 130px;
    border-radius: 0 40px 0 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.footerBackground {
    position: relative;
    z-index: -1;
    height: 74px;
    width: 100%;
    background-color: #4C94CD;
    filter: blur(1px);
    opacity: 0.83;
}

.fa-history {
    position: relative;
    z-index: 1;
    top: -74px;
    margin: 7px 10px 5px 10px;
    color: white;
}

.time {
    position: relative;
    z-index: 1;
    top: -74px;
    padding-right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
