#test {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
}

#mini {
  z-index: 3;
<<<<<<< HEAD
  position: absolute;
  right: 16px;
  bottom: 16px;
}

#minipicture {
  z-index: 2;
=======
>>>>>>> parent of 4357674... image in minimap behind strokes
  background-color: PaleTurquoise;
  position: absolute;
  right: 16px;
  bottom: 16px;
}
